	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}




	#stage-0{

width:80%;
margin-top:20px;

	.st0{fill:#ffffff;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{

    fill: #0078D4;
    stroke: black;
    stroke-miterlimit: 0;
    stroke-width:0.4;
	}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:none;}
	.st8{font-family:'SegoeUI-Bold';}
	.st9{font-size:14px;}
	.st10{fill:#FFFFFF;

    stroke: transparent;
	}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}



	}





	#stage-1{



	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:none;}
	.st8{font-family:'SegoeUI-Bold';}
	.st9{font-size:14px;}
	.st10{fill:#FFFFFF;

    stroke: transparent;
	}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}



	}



	#stage-2{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;}
	.st9{font-family:'SegoeUI-Bold';}
	.st10{font-size:14px;}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}

	}



		#stage-3{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;}
	.st9{font-family:'SegoeUI-Bold';}
	.st10{font-size:14px;}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}

		}

#stage-4{


	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;}
	.st9{font-family:'SegoeUI-Bold';}
	.st10{font-size:14px;}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}


}



#stage-5{
	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;}
	.st9{font-family:'SegoeUI-Bold';}
	.st10{font-size:14px;}
	.st11{fill:none;stroke:#FFFFFF;stroke-width:.88;stroke-miterlimit:10;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st13{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st14{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st15{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st16{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st17{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st18{clip-path:url(#SVGID_2_);}
	.st19{fill:#6D6E71;}
	.st20{fill:#3C3C3C;}
	.st21{opacity:0.8;fill:#FFFFFF;}
	.st22{fill:#333132;}
	.st23{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st24{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st25{fill:#EBEBEB;}
	.st26{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st28{clip-path:url(#SVGID_4_);}
	.st29{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st30{fill:#BCBCBC;}
	.st31{fill:#5E5E5E;}
	.st32{clip-path:url(#SVGID_6_);}
	.st33{clip-path:url(#SVGID_8_);}
	.st34{fill:#EF5125;}
	.st35{fill:#80BA42;}
	.st36{fill:#787878;}
	.st37{fill:#757575;}
	.st38{fill:#349FD9;}
	.st39{fill:#FCB713;}
}



#stage-1,
#stage-2,
#stage-3,
#stage-4,
#stage-5{
width: 200px;
}


.st4{

-webkit-transition: all .25s ease;
transition: all .25s ease;

&:hover{
	fill: #888 !important;
}

&:focus{
	fill: #888 !important;
}

}





#arrow-animation{


    position: absolute;
    width: 110%;
    height: 110%;
    bottom: -10%;
    left: 20%;

		.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}
}


.list-icon-box{
margin-top:10px;
margin-bottom:10px;

	svg{
	    height: 80px;
	}
}



#ladder{

    position: absolute;
    /* width: 60%; */
    height: 105%;
    top: -2px;
    right: 5%;

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}
	}




#list-globe{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}



#list-brain{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}


#list-cloud{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}

#list-page{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}
	}


#list-check{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}

#list-book{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}

#list-globe{

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}


.icon-list .icon{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
    width: 20%;
    text-align: center;
}


.list-item{
	float: left;
	display: inline-block;
}

.icon-list .icon svg{
    height: 60px;
    margin-top: 10px;
}





.icon-list li{
	    clear: both;
}





#quote{
	.st7{fill:#FFFFFF;}
}




#heroleft{


position: absolute;
width: 10%;

left:0;
top:0;

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

}

#heroright{


position: absolute;
width: 10%;

right:0;
top:0;

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}

	}


#qp1,
#qp3{
    position: absolute;
    width: 8%;
    bottom: 0;
    right: 0;

}




#qp2{
    position: absolute;
    width: 8%;
    bottom: 0;
    left: 0;

}


.bg-black{

    #qp1,
    #qp2,
    #qp3{
    display: none;
    }

}




#csp-1,
#csp-2,
#csp-3,
#csp-4,
#csp-5{
	position: absolute;
    width: 20%;
    bottom: 0;
    right: 0;
}








#learn-more-down{


    width: 34px;
    position: absolute;
    top: -22px;
    left: 12px;


-webkit-transition: all .25s ease;
transition: all .25s ease;

	.st0{fill:#0078D4;}
	.st1{fill:#50E6FF;}
	.st2{fill:none;stroke:#757575;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0078D4;stroke-width:2.88;stroke-miterlimit:10;}
	.st4{fill:#0078D4;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#EBEBEB;stroke-miterlimit:10;}
	.st6{fill:#E6E7E8;stroke:#939598;stroke-miterlimit:10;}
	.st7{fill:#FFFFFF;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:2.88;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0078D4;}
	.st10{clip-path:url(#SVGID_2_);fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st11{clip-path:url(#SVGID_2_);fill:#BCBCBC;}
	.st12{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
	.st13{clip-path:url(#SVGID_2_);fill:#0078D4;}
	.st14{clip-path:url(#SVGID_2_);fill:#50E6FF;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{fill:#6D6E71;}
	.st17{fill:#3C3C3C;}
	.st18{opacity:0.8;fill:#FFFFFF;}
	.st19{fill:#333132;}
	.st20{fill:none;stroke:#333132;stroke-miterlimit:10;}
	.st21{fill:#0078D4;stroke:#000000;stroke-miterlimit:10;}
	.st22{fill:#EBEBEB;}
	.st23{fill:none;stroke:#5E5E5E;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#50E6FF;stroke-miterlimit:10;}
	.st25{clip-path:url(#SVGID_4_);}
	.st26{fill:none;stroke:#212121;stroke-miterlimit:10;}
	.st27{fill:#BCBCBC;}
	.st28{fill:#5E5E5E;}
	.st29{clip-path:url(#SVGID_6_);}
	.st30{clip-path:url(#SVGID_8_);}
	.st31{fill:#EF5125;}
	.st32{fill:#80BA42;}
	.st33{fill:#787878;}
	.st34{fill:#757575;}
	.st35{fill:#349FD9;}
	.st36{fill:#FCB713;}
	}





#heroBottomGraphic,
#heroTopGraphic{
	display: none;
}




.transparentfill{
	fill: transparent;
}


