@media (max-width: 768px) {




.flexbox-container{
	display: initial;
}

.flexbox-container > div{
	width: 100%;
    height: 300px;
}


.flexbox-container > div.pad-60,
.flexbox-container > div.pad-40 {
    width: 100%;
    padding: 30px;
        height: auto;
}


.flexbox-container > div.pad-60{
    padding-bottom: 60px;
}

.flexbox-container > div.pad-40.large-tb-pad {
    padding-top: 60px;
    padding-bottom: 60px;
}


.icon-box-logo {
    width: 80%;

	svg {
    width: 100%;
    height: auto;
    margin-top: 0;
	}


.smaller-icon-height{
        svg{
            height: 240px;
        }
    }
}


#stage-1, #stage-2, #stage-3, #stage-4, #stage-5 {
  width: 100px;
}


.blue-menu-text{
    font-size: .8em;
    margin: -18px auto 0;
}


.half-width-sub-header{
	width: 100%;
}

.full-width-head{
	    width: 100%;
    margin-right: 0;
    margin-left: 0;
}


.right{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100;
}

.no-lr-pad-mob{
	padding-left: 0;
	padding-right: 0;
}



.icon-box{
    margin-top: 30px;

}




.grey-link-md{

    margin-left: -2px;

    font-size: 1em;
    padding-left: 14px;


	svg{
    top: 6px;
    height: 12px;
    width: 12px;
}
}


.row{
	margin-right: 0;
	margin-left: 0;
}


.icon-box-centered {
    width: 70px;
    margin: 10px auto 10px auto;
}



.underline-link-blue{
font-size: 1.2em;
}

.right-chevron svg{
	    margin-top: 0px;
    transform: translateX(2px);
    width: 10px;
    height: 10px;
}



.close-modal {
    width: 40px;
    height: 40px;
    top: 30px;

}




}



@media (max-width: 640px) {

 .tag-1{
     font-size: .6em;
    width: 20%;
    left: 0;
    top: 10%;

}

.tag-2{
    font-size: .6em;
    width: 20%;
    right: 4%;
}

.tag-3{
    font-size: .6em;
    bottom: 26.25%;
    right: 0%;
    width: 20%;

  

}

 .tag-4{



  font-size: .6em;
     margin-left: 0; 
    width: 20%;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 9%;

}

 .tag-5{
    width: 20%;
    font-size: .6em;
    bottom: 28%;
    left: -2%;
}


.modal-wayfinder-box{
 .tag-1{
    font-size: .5em;
    width: 20%;
    left: -4%;
    top: 10%;

}

.tag-2{
font-size: .5em;
    width: 20%;
        right: 4%;
}

.tag-3{
font-size: .5em;
    bottom: 26.25%;
    right: -10%;
    width: 20%;


  

}

 .tag-4{



  font-size: .5em;
     margin-left: 0; 
    width: 20%;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 9%;

}

 .tag-5{
    width: 20%;
    font-size: .5em;
    bottom: 27%;
    left: -10%;
}

}

}


@media (max-width: 480px) {

 .tag-1{
    font-size: .6em;
    width: 25%;
    left: 5%;
    top: 3%;


}

.tag-2{
    font-size: .6em;
    width: 20%;
    right: 9%;
    top: 7%;
}

.tag-3{
font-size: .6em;
    bottom: 26.25%;
    right: -2%;
    width: 20%;

  

}

 .tag-4{



  font-size: .6em;
     margin-left: 0; 
    width: 20%;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 9%;

}

 .tag-5{
    width: 20%;
    font-size: .6em;
    bottom: 28%;
    left: -2%;
}


.modal-wayfinder-box{
 .tag-1{
    font-size: .5em;
    width: 20%;
    left: -4%;
    top: 10%;

}

.tag-2{
font-size: .5em;
    width: 20%;
        right: 4%;
}

.tag-3{
font-size: .5em;
    bottom: 26.25%;
    right: -10%;
    width: 20%;


  

}

 .tag-4{



  font-size: .5em;
     margin-left: 0; 
    width: 20%;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 9%;

}

 .tag-5{
    width: 20%;
    font-size: .5em;
    bottom: 27%;
    left: -10%;
}

}

}





@media (max-width: 992px) {


#circle-orbit-container{
display: none;
}

.bottom-graphic{
    // padding-bottom: 250px;    



&.orb{

    padding-bottom: 60%;

                    // background-image: url(assets/img/orb.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                background-color: #fff;
}

&.arrows{
        padding-bottom: 100%;
                    background-image: url(assets/img/arrows.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                background-color: #fff;
}

&.ladder{

    padding-bottom: 40%;

                    background-image: url(assets/img/ladder.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                background-color: #fff;

}


}




}








