/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {

    position: absolute;
    top: 23%;
    left: 86%;
    height: 100%;
    width: 100%;


}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
    position: absolute;
    top: 125px;
    left: 125px;
    width: 50px;
    height: 50px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles {
    position: absolute;
    top: 16px;
    left: 17px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: black;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 1px #666 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 5s linear infinite;
  animation: spin-right 5s linear infinite;
  // animation-play-state: paused;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-circles {
  position: absolute;
  top: 36px;
  left: 17px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #4A437F;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border: 1px #666 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 4s linear infinite;
  animation: spin-right 4s linear infinite;
  // animation-play-state: paused;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-circles {
    position: absolute;
    top: 18px;
    left: -6px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #9F98E6;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}









/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit2 {
  position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
  border: 1px #666 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 7s linear infinite;
  animation: spin-right 7s linear infinite;
  // animation-play-state: paused;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles2 {
    position: absolute;
    top: 66px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}




/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit3 {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles3 {
    position: absolute;
top: 100px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}




/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit4 {
position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles4 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}

#inner-orbit5 {
position: absolute;
    top: 25px;
    left: 25px;
    width: 250px;
    height: 250px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles5 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}








#inner-orbit6 {
position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles6 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}



#inner-orbit7 {
position: absolute;
    top: -25px;
    left: -25px;
    width: 350px;
    height: 350px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles7 {
    position: absolute;
    top: -3px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #666;
}




#inner-orbit8 {
position: absolute;
    top: -50px;
    left: -50px;
    width: 400px;
    height: 400px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-left 7s linear infinite;
    animation: spin-left 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles8 {
    position: absolute;
    top: 4px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #50E6FF;
}



#inner-orbit9 {
position: absolute;
    top: -75px;
    left: -75px;
    width: 450px;
    height: 450px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles9 {
position: absolute;
    top: -15px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #666;
}









#inner-orbit10 {
position: absolute;
    top: -100px;
    left: -100px;
    width: 500px;
    height: 500px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}




/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles11 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


#inner-orbit11 {
position: absolute;
    top: -125px;
    left: -125px;
    width: 550px;
    height: 550px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}







/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles12 {
    position: absolute;
    top: -15px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #007bcd;
}


#inner-orbit12 {
position: absolute;
    top: -150px;
    left: -150px;
    width: 600px;
    height: 600px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}







/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles13 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #50E6FF;
}


#inner-orbit13 {
position: absolute;
    top: -175px;
    left: -175px;
    width: 650px;
    height: 650px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-left 7s linear infinite;
    animation: spin-left 7s linear infinite;
        z-index: 2;
}








/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles14 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


#inner-orbit14 {
position: absolute;
    top: -200px;
    left: -200px;
    width: 700px;
    height: 700px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}








/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles15 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


#inner-orbit15 {
position: absolute;
    top: -225px;
    left: -225px;
    width: 750px;
    height: 750px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-left 7s linear infinite;
    animation: spin-left 7s linear infinite;
}








/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles16 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


#inner-orbit16 {
position: absolute;
    top: -250px;
    left: -250px;
    width: 800px;
    height: 800px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}















/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles17 {
    position: absolute;
    top: 108px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #666;
}


#inner-orbit17 {
position: absolute;
    top: -275px;
    left: -275px;
    width: 850px;
    height: 850px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}










/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles18 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


#inner-orbit18 {
position: absolute;
    top: -300px;
    left: -300px;
    width: 900px;
    height: 900px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}






/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles19 {
    position: absolute;
    top: 85px;
    left: 185px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #007bcd;
}


#inner-orbit19 {
position: absolute;
    top: -325px;
    left: -325px;
    width: 950px;
    height: 950px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-left 7s linear infinite;
    animation: spin-left 7s linear infinite;
}



























/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles10 {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #00FFCA;
}


















/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit2 {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 1px #666 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 5s linear infinite;
  animation: spin-right 5s linear infinite;
  // animation-play-state: paused;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-circles2 {
  position: absolute;
  top: 36px;
  left: 17px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #4A437F;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit2 {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 324px;
    height: 324px;
    border: 1px #666 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 4s linear infinite;
    animation: spin-right 4s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-circles2 {
  position: absolute;
  top: -8px;
  left: 125px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #00FFCA;
}






























